<div class="p-10 pl-16">
    <button (click)="openModal()"
        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        Crear nuevo personal
    </button>

    <div *ngIf="modalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50">
        <div class="modal-container bg-white mx-auto p-4 sm:p-8 rounded-lg shadow-lg z-50">
            <form (submit)="onSubmit()">
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="empleado" class="block mb-2 text-sm font-medium text-gray-900">Empleado</label>
                        <select id="empleado" [(ngModel)]="personal.empleado_id" name="empleado_id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            required>
                            <option *ngFor="let empleado of empleados" [value]="empleado.id">{{ empleado.nombres + ' ' +
                                empleado.apellidos }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="cargo" class="block mb-2 text-sm font-medium text-gray-900">Area</label>
                        <input type="text" id="cargo" [(ngModel)]="personal.cargo" name="cargo"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="John" required>
                    </div>
                    <div>
                        <label for="horario" class="block mb-2 text-sm font-medium text-gray-900">Horario</label>
                        <select id="id_horario" [(ngModel)]="personal.id_horario" name="id_horario"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            required>
                            <option *ngFor="let horario of horarios" [value]="horario.id">{{ horario.hora_entrada + ' '
                                +
                                horario.hora_salida + ' ' + horario.dias }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="servicio" class="block mb-2 text-sm font-medium text-gray-900">Servicio</label>
                        <select id="servicio" [(ngModel)]="selectedService" (change)="agregarServicio()"
                            name="servicio_id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            required>
                            <option *ngFor="let servicio of servicios" [ngValue]="servicio">{{ servicio.descripcion }}
                            </option>
                        </select>
                        <div *ngFor="let servicio of serviciosSeleccionados">
                            <button type="button" (click)="eliminarServicio(servicio)"
                                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                                {{ servicio.descripcion }}
                            </button>
                        </div>
                    </div>

                </div>
                <div>
                    <button type="submit"
                        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Guardar</button>
                    <button type="button" (click)="closeModal()"
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Contenido de la tabla -->

    <!-- Component: Simple Table -->
    <div class="w-full overflow-x-auto pt-10">
        <table class="w-full text-left border border-collapse rounded sm:border-separate border-slate-200"
            cellspacing="0">
            <thead>
                <tr>
                    <th scope="col"
                        class="h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100">
                        Empleado</th>
                    <th scope="col"
                        class="h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100">
                        Area</th>
                    <th scope="col"
                        class="h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100">
                        Horario</th>
                    <th scope="col"
                        class="h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100">
                        Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personal of personals">
                    <td
                        class="h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 ">
                        {{ personal.empleado_id }}</td>
                    <td
                        class="h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 ">
                        {{ personal.cargo }}</td>
                    <td
                        class="h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 ">
                        {{ personal.id_horario }}</td>

                    <td
                        class="h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500 ">
                        <button (click)="cargarpersonal(personal)"
                            class="focus:outline-none text-white bg-yellow-500 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Editar</button>
                        <button (click)="eliminarpersonal(personal)"
                            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>